.ticket-navbar {
    width: 100%;
    background: #26CCC2;
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: 3px solid #6AECE1;
}

.ticket-nav {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
}

.nav-item {
    color: #083c3a;
    text-decoration: none;
    font-size: 15px;
    padding: 7px 16px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.nav-item:hover {
    background: #85ebe3;
    color: #083c3a;
    transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    
}

.nav-item.active {
    background: #FFB76C;
    color: #083c3a;
    box-shadow: 0 4px 10px rgba(255,183,108,0.6);
}
