.a-navbar {
  position: fixed;          /* stays in place */
  top: 0;
  left: 0;

  width: 240px;             /* fixed sidebar width */
  height: 100vh;            /* full screen height */

  background-color: #1f2937; /* dark dashboard bg */
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 16px;
  box-sizing: border-box;
}
.header p:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.header p:last-child {
  font-size: 14px;
  color: #cbd5e1;
}
.a-logout button {
  width: 100%;
  padding: 10px;

  background-color: #ef4444;
  border: none;
  border-radius: 6px;

  color: white;
  font-size: 14px;
  cursor: pointer;
}

.a-logout button:hover {
  background-color: #dc2626;
}

.a-nav-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a-nav-items p{
    cursor:pointer;
    padding:10px;
}

.active-link{
    background:#2575fc;
    color:white;
    border-radius:6px;
}
